PORT=3000
# MONGODB_URL_LOCAL=mongodb://localhost:27017/voting-app
MONGODB_URL_LOCAL=mongodb+srv://vikashb24k:Kumar.123@voterm.dvsp9vq.mongodb.net/
JWT_SECRET=123vxxx
CLIENT_URL=http://localhost:5173
EMAIL_USER=vk9142118129@gmail.com
EMAIL_PASS=ccboeovcnkzpzhfx
ADMIN_NAME=vikash kumar
ADMIN_EMAIL=vk9142118129@gmail.com
ADMIN_AADHAR_NUMBER=123456789123
ADMIN_PASSWORD=vickyvicky
