PORT=3000
MONGODB_URL_LOCAL=mongodb://localhost:27017/voting-app
JWT_SECRET=123vxx
CLIENT_URL=http://localhost:5173
ADMIN_NAME=vikash kumar
ADMIN_EMAIL=admin@votesphere.local
ADMIN_AADHAR_NUMBER=123456789123
ADMIN_PASSWORD=123456
